* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    width: 100%;
    font-weight: 100;
    margin-bottom: 20px;
    background-color: rgb(206, 222, 206);
    font-family: 'Viga', sans-serif;
}

.seznam-pasem {
    width: 100%;
    
}

.pasma-pes {
    width: 250px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    
}





.ime-pasme {
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    font-size: 110%;
    
}


.pasma-pes img {transition: 0.2s}

.pasma-pes img:hover {
    transform: rotate(7deg);
}

a{
text-decoration: none;
color: black;    
    
}